@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #256D85;
    font-family: 'Public Sans';
}

html{
    width: 100%;
}

main{
    width: 100%;
}

#navbar{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10%;
    background-color: #06283D;
    margin: 0;
    padding: 0;
}

#navbar > ul{
    margin: 0;
}

#navbar > ul > li{
    display: block;
}

#navbar > ul > li > button{
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    font-size: 1em;
}

#logo{
    color: white;
    font-size: 1em;
}

#container{
    width: 70vw;
    height: 75vh;
    margin: 100px auto 0 auto;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.products_side{
    height: 100%;
    width: 70%;
    position: relative;
}

#cod_product{
    background-color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 3px;
}

#cod_product > input{
    display: inline-block;
}

#cod_barras{
    display: none;
}

#insertToList{
    cursor: pointer;
    display: inline-block;
    border: none;
    background-color: #3c3c3c;
    color: white;
    border-radius: 3px;
    height: 4vh;
    width: 8vw;
}

#cart{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.item_cart{
    display: flex;
    width: 100%;
    height: 50px;
    padding: 2px 5px;
    margin: 0;
    background-color: gainsboro;
    border-bottom: 2px solid white;
}

.item_description, .container_price, .container_quantity{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.container_price > p{
    display: inline-block;
}

.info_side{
    height: 100%;
    width: 25%;
    justify-content: space-between;
    position: relative;
    display: flex;
    flex-direction: column;
}

#total{
    width: 100%;
    height: 40%;
    background-color: white;
    box-sizing: border-box;
}

/* #sub-total{
    background-color: #3c3c3c;
    color: white;       
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 0;
    font-size: 0.8em;
    box-sizing: border-box;
    align-items: center;
    font-weight: 600;
} */

.header{
    background-color: #06283D;
    color: white;       
    width: 100%;
    flex-basis: 20%;
    padding: 5px;
    margin: 0;
    font-size: 0.8em;
    box-sizing: border-box;
    align-items: center;
    font-weight: 600;
}

#price{
    font-size: 3.5em;
    font-weight: bold;
}

#unit_value{
    background-color: white;
    box-sizing: border-box;
}

#item_info{
    width: 100%;
    height: 20%;
    background-color: white;
    box-sizing: border-box;
}

.card_content{
    align-items: center;
    flex-basis: 80%;
}

.info_value{
    color: #888;
    font-size: 2.5em;
    font-weight: bold;
    align-items: center;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    align-items: center;
}
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 30%; 
    min-height: 35%;
    display: flex;
    flex-direction: column;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.modal-row{
    width: 100%;
    display: block;
    margin: 10px auto 50px auto;
}

.item{
    width: 48%;
    display: inline-block; 
}

.item p{
    display: block;
    margin: 0 0 5px 0;
}

.item-input{
    display: block;
    width: 80%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 2px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

.item-input:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.btn-salvar{
    cursor: pointer;
    float: right;
    padding: 10px;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 80px;
    height: 40px;
}

.payment_item{
    border: 2px solid black;
    border-bottom: none;
    height: 35px;
    padding: 5px;
}

.payment_item:last-child{
    border: 2px solid black;
}